{% extends 'layouts/master.html.twig' %}

{% block metatitle %}{{title}}
{% endblock %}

{% block main %}
  <h1>{{title}}</h1>
  {# NEW #}
  {% if 'new' in actions %}
    <div class="row" >
      <div class="col-3">
        <a style="margin:10px;" class="btn btn-primary table-btn" href="{{ path('register_user') }}">Nuevo usuario</a>
      </div>
    </div>
    
  {% endif %}
  <div id="users">Loading...</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
  <script>
    $(function () {
      console.log('{{datatable_settings(datatable)}}');
      $('#users').initDataTables({{ datatable_settings(datatable) }});
    });
  </script>
{% endblock %}
